<div class="custom-footer-content">
  <p>
    Follow me on
    <a href="https://mastodon.social/@lutzhuehnken" rel="me"><i class="fa-brands fa-mastodon"></i> Mastodon</a>,
    <a href="https://bsky.app/profile/huehnken.de"><i class="fa-brands fa-bluesky"></i> Bluesky</a> or
    <a href="https://de.linkedin.com/in/lutzh"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
    to be notified about updates.
  </p>
  <p>
    Visit <a href="https://www.huehnken.de/"><i class="fa-solid fa-globe"></i> my business home page</a> to learn about my services.
  </p>
  <p class="custom-footer-copyright">&copy; 2023&ndash;2026 Lutz H&uuml;hnken</p>
</div>
